@charset "UTF-8";

:root {
    --background-color: #fff;
    --text-color: #000;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  [data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
  }

header
{
	border: black solid 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.acceuil
{
	
	border: black solid 3px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.acceuil a
{
	text-decoration: none;
	color: black;
}

.deconnecter
{
	border: black solid 3px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.connecter
{
	border: black solid 3px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}